* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111;
  font-family: 'Roboto', sans-serif;
}

.container {
  position: relative;
}

.container .circle {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
}

.container .circle:nth-child(1) {
  width: 180px;
  height: 180px;
  top: -60px;
  right: -60px;
  background: linear-gradient(to left bottom, #ed3d5d, #9b0420);
}

.container .circle:nth-child(2) {
  width: 120px;
  height: 120px;
  bottom: -40px;
  left: -40px;
  background: linear-gradient(to left bottom, #ffb546, #ffb54696);
}

.card {
  width: 552px;
  height: 344px;
  background: #fff;
  padding: 36px;
  border-radius: 26px;
  border: 3px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(48px);
  box-shadow: 0 0 30px rgb(0, 0, 0, 0.2);
}
